$primary-color: #74a0e7;
$accent-color: #e9fff0;
$background-color: rgb(41, 33, 49);
$muted-foreground-color: lighten($background-color, 70%);

$special-font-family: Lobster;

$dashboard-screen-spacing: 32px;

$tile-background: darken($background-color, 3%);
$tile-corner-radius: 5px;

:export {
  primaryColor: $primary-color;
  backgroundColor: $background-color;
}